<br />
<br />
 <div class="container">
	<div class="jumbotron" style="text-align: center;">
		<h1>Welcome to Casein</h1>
		<br />
		<p>You&rsquo;re ready to begin scaffolding and customizing!</p>
		<p><small style="font-size: 0.7em;">To remove this screen, set <code>casein_config_dashboard_url</code></small></p>
		<br />
		<p><a href="https://github.com/russellquinn/casein/blob/master/README.rdoc" class="btn btn-primary btn-large">View README on GitHub</a></p>
	</div>
  </div>